:root {
  --color-white: #ffffff;
  --color-gray: #555454;
  --color-light: #e9e5e5;
  --color-blue-background: rgba(71, 125, 249, 0.3);
  --color-green-background: rgba(10, 91, 33, 0.3);
  --color-dark: #212121;
  --color-blue: #2196f3;
  --color-green: green;
}
