.list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.listItem button {
  text-transform: capitalize;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  height: 35px;
  border: solid 1px transparent;
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.resetButton button {
  background-color: var(--color-green);
  color: var(--color-white);
}

.listItem button:hover {
  border: solid 1px var(--color-blue);
  color: var(--color-blue);
  background-color: transparent;
}

.resetButton button:hover {
  border: solid 1px var(--color-green);
  color: var(--color-green);
}

.resetButton {
  margin-left: auto;
}

@media screen and (max-width: 375px) {
  .resetButton {
    margin-left: 0;
  }
}
